{% extends 'lab/base.html' %}

{% block title %}
    Зарегистрировать новую методику
{% endblock title %}

{% block content %}
    <form action="{% url 'lab:bid_create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.errors }}
        <p>Договор: {{form.contract}}</p>
        <p>Номер: {{form.number}}</p>
        <p>Статус: {{form.status}}</p>
        <p>Счета: {{form.invoices}} Не нашли в списке? <a href="#">Добавить</a></p>
        <input type="submit" value="OK">
    </form>
{% endblock content %}