{% extends "lab/base.html" %}

{% block title %}
    Панель управления
{% endblock title %}

{% block content %}
    <section>
        <h2>Панель управления</h2>
        <h3>Последние протоколы:</h3>
        {% for protocol in protocols %}
            <a href="{% url 'lab:protocol_detail' protocol.id %}">Протокол {{protocol.number}}</a>
        {% endfor %}
        <h3>Предстоящие технические обслуживания:</h3>
        {% for maintenance in next_maintenances %}
            <h4>{{maintenance.name}}, {{maintenance.next_date}}</h4>
            {% for equipment in maintenance.equipment.all %}
                <a href="{% url 'lab:equipment_detail' equipment.id %}">{{ equipment.name }}</a>
            {% endfor %}
        {% endfor %}
    </section>
{% endblock content %}