{% extends "lab/base.html" %}

{% block title %}
    {{equipment.name}}
{% endblock title %}

{% block content %}
    <h2>{{equipment.name}}</h2>
    <p>{{equipment.last_cal}}</p>
    <p>{{equipment.next_cal}}</p>
    <p>{{equipment.cal_organisation}}</p>
    {% for maintenance in equipment.maintenance.all %}
        <p>{{maintenance.name}}</p>
        <p>{{maintenance.type}}</p>
    {% endfor %}
    <p><a href="{% url 'lab:maintenance_create' %}?equipment={{ equipment.id }}">Добавить техобслуживание</a></p>
    <p><a href="{% url 'lab:equipment_update' equipment.id %}">Редактировать</a></p>
{% endblock content %}