{% block header %}
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="{% url 'lab:dashboard' %}" class="nav-link link-info">Главная</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'lab:methodics' %}" class="nav-link">Методики</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'lab:reagents' %}" class="nav-link">Реактивы</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'lab:equipment' %}" class="nav-link">Оборудование</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'lab:contracts' %}" class="nav-link">Договоры</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'lab:protocols' %}" class="nav-link">Протоколы</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'core:logout' %}" class="nav-link link-danger">Выйти</a>
            </li>
        </ul>
    </nav>
{% endblock header %}