{% extends "lab/base.html" %}

{% block title %}
    Протоколы
{% endblock title %}

{% block content %}
    <h1>Протоколы</h1>
    {% for protocol in protocols %}
        <a href="{% url 'lab:protocol_detail' protocol.id %}">Протокол {{protocol.number}}</a>
<!--        <p>{{methodic.acts_from}}</p>-->
<!--        <p>{{methodic.acts_to}}</p>-->
<!--        {% for reagent in methodic.used_reagents.all %}-->
<!--            <p>{{reagent.name}}</p>-->
<!--        {% endfor %}-->
    {% endfor %}
{% endblock content %}