{% extends "lab/base.html" %}

{% block title %}
    Реагент {{reagent.name}}
{% endblock title %}

{% block content %}
    <h1>{{reagent.name}}</h1>
    <p>Изготовитель: {{reagent.made_by}}</p>
    <p>Дата изготовления: {{reagent.made_date}}</p>
    <p>Годен до: {{reagent.best_before}}</p>
    <p>Испольуется в методиках:</p>
    <ul>
    {% for methodic in reagent.methodics.all %}
        <li><a href="{% url 'lab:methodic_detail' methodic.pk %}">{{methodic.name}}</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'lab:reagent_update' reagent.id %}">Редактировать</a>
{% endblock content %}