{% extends "core/base.html" %}

{% block title %}
    Вестибюль
{% endblock title %}

{% block content %}
    <section class="container text-center">
        {% if user.is_authenticated %}
            <p class="mt-5 text-secondary">Вы вошли как {{ user.username }}</p>
        {% endif %}
        <h1 class="text-success">Добро пожаловать в LIMS!</h1>
        <ul class="nav flex-column">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link fs-2" href="{% url 'lab:dashboard' %}">Панель управления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-2" href="{% url 'core:logout' %}">Выйти из системы</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-primary fs-2" href="{% url 'core:login' %}">Войти в систему</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link text-info fs-2 fw-semibold" href="{% url 'core:help' %}">Помощь</a>
            </li>
        </ul>
    </section>
{% endblock content %}