{% extends "core/base.html" %}

{% block title %}
    Войти
{% endblock title %}

{% block content %}
    <section class="container">
        <h2>Войти:</h2>
        <div class="w-25">
            <form method="post" class="form-control end-0">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>

        <a href="{% url 'core:password_reset' %}">Забыли пароль?</a>
    </section>
{% endblock content %}