{% extends "core/base.html" %}

{% block title %}
    Войти
{% endblock title %}

{% block content %}
    <section class="wrapper">
        <h2>Войти:</h2>
        <div class="center-div">
            <form method="post" class="right-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <a href="{% url 'core:password_reset' %}">Забыли пароль?</a>
        </div>
    </section>
{% endblock content %}