{% extends 'core/base.html' %}

{% block title %}
    Reset password
{% endblock title %}

{% block content %}
    <form method="post" action="{% url 'core:password_reset' %}">
        {% csrf_token %}
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        <label for="email_for_reset">Your email</label>
        <input type="text" id="email_for_reset" name="email_for_reset">
        <button type="submit">Go ahead</button>
    </form>
    <a href="{% url 'core:home' %}">Home</a>
{% endblock content %}